html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background: #59f442;
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
  }

  

  form{
      text-align: center;
      display: block;
  }

  input,button{
      background-color: transparent;
      font-size: 30px;
      color: white;
      border: 0.1px solid white;
      text-align: center;     
  }

  input:focus{
      border: 2px solid white;
      transition:all 0.3 ease;
  }

  button{
      background-color: white;
      color: #59f442;
  }

  button:hover{
    background-color: #59f442;
    color: white;
    transition: 0.3s ease;
  }

.error{
    margin-top: 10px;
    color: red;
}

.col-md-4 {
  background-color: white;
  color: #59f442;  
}

.col-md-8 {
  background-color: #59f442;
  color: white;
}

.row.custom:last-child{
  height: 90%;
}


.row.custom:first-child{
  height: 10%;"col-md-4"
  align-content: center;
  align-items: center;
}

.container-fluid{
  height: 100%;
  overflow: auto;
}

.title_create, .title_join, .title_secret{
  font-size: 34px;
  font-weight: bold;
  margin-top: 50px;
}

.title_create{
  color: #59f442;
}

.title_join{
  color: white;
}

.title_secret{
  color: black;
  text-shadow: 1cm;
}


.new-channel{
  border: 0.1px solid #59f442;
  font-size: 18px;
  height: 50px;
  width: 65%;
  color: #59f442;
  display: block;
}

.new-channel:focus{
  border: 2px solid #59f442;
  transition:all 0.3 ease;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 10px solid #59f442;
  background-color: white ;
  color: #59f442;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#nickname{
  font-weight: bold;
}

#timestamp{
  font-style: italic;
}

#chat{
  background-color: lemonchiffon;
}

#container-chat{
  margin:0 auto;
  width:50%;
}

#submit-button, #message{
  font-size:18px;
}

#submit-button{
  width:30%;
}

#message{
  width:70%;
  color:black;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

#form-custom{

}


